{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="font-family-lemon">Random Blog </h1>

    {{form_start(form)}}
    <div>
<a href="" class="btn btn-primary">Create new comment</a>
</div>
    {{form_end(form)}}

</div>
{% endblock %}
