{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="font-family-lemon">create new comment </h1>



   <p>Post method to create dummy comment returned status: {{response}}</p>

</div>
{% endblock %}
