{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="font-family-lemon">Result of creating new comment </h1>



   <p>Post method to create dummy comment returned status: {{status}}    </p>


    

   <div>
    <a href="../../../posts/{{postId}}" class="btn btn-primary">Back</a>
    </div>


</div>
{% endblock %}
