body {
  overflow: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  ul {
    list-style-type: none; /* Remove bullets */
  }

  .mb-3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    input,
    textarea {
      width: 50%;
    }

    textarea {
      height: 8rem;
    }
  }

  .list-group {
    align-items: center;
  }

  .myCard,
  .myCard-detail {
    margin: 1rem;
    width: 15rem;
    filter: drop-shadow(3px 3px 2px #3e3e3f);
  }

  .myCard-detail {
    width: unset;
  }

  .myCard:hover,
  .myCard-detail:hover {
    transition: 300ms;
    width: 16rem;
    filter: drop-shadow(3px 3px 5px #3e3e3f);
  }

  .myCard-detail:hover {
    width: unset;
  }
  .postContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
  }

  .example-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    width: 95%;
    font: 18px/1.5 sans-serif;
  }
  .example-wrapper code {
    background: #f5f5f5;
    padding: 2px 6px;
  }

  .commentCard {
    width: 60rem;
  }

  .commentCard:hover {
    transition: 300ms;
    width: 70rem;
  }
}

.font-family-lemon {
  font-family: "Lemon", cursive;
}
